
    <ion-content>
      <ion-slides #slides [options]="slideOpts"  (ionSlideDidChange)="slideChanged()" >
        <ion-slide >
          <div class="slide">
            <div class="div1">
              <img src="../../assets/Onboarding-2.png"/>
              <div
              class="skip ion-activatable ripple-parent" (click)='CS.navigate("/login")'>Skip
              <ion-ripple-effect type="unbounded"></ion-ripple-effect>

            </div>
            </div>
          <div class="div2">
            <h2>Welcome to D'Order</h2>
            <p>The only thing we love more than food is you!.</p>
           

          </div>
         
          </div>
        </ion-slide>
        <ion-slide  >
          <div class="slide">
            <div class="div1">
              <img src="../../assets/pickup.png"/>
              <div
              class="skip ion-activatable ripple-parent" (click)='CS.navigate("/login")'>Skip
              <ion-ripple-effect type="unbounded"></ion-ripple-effect>

            </div>
            </div>
          <div class="div2">
            <h2>Pick up your Order</h2>
            <h2>On the way</h2>
            <p>The only thing we love more than food is you!.</p>
          
          </div>
         
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <div class="div1">
              <img src="../../assets/table.png"/>
              <div
              class="skip ion-activatable ripple-parent" (click)='CS.navigate("/login")'>Next
              <ion-ripple-effect type="unbounded"></ion-ripple-effect>

            </div>
            </div>
          <div class="div2">
            <h2>Order & Let's eat</h2>
            <h2>Delicious food</h2>
            <p>order your favorite food at your table with your mobile.</p>
          
          </div>
         
          </div>
        </ion-slide>
      </ion-slides>
      <div class="mainPager">
        <span class="pager {{active==0?'active-pager':''}}">
        </span>
        <span class="pager {{active==1?'active-pager':''}}">
        </span>
        <span class="pager {{active==2?'active-pager':''}}">
        </span>
      </div>
    </ion-content>




<!-- 
<ion-content fullscreen padding scroll-y="false" >
  <div class="first clearfix" #firstSlide>
    <div class="img-wrapper">
      <img src="../../assets/Onboarding-2.png"/>
      <ion-grid>
        <ion-row>
          <ion-col (click) = "onSkipIntro()" size="4">
            Skip
          </ion-col>
          <ion-col size="4">
            <span class="pager active-pager">
            </span>
            <span class="pager">
            </span>
          </ion-col>
          <ion-col size="4" (click)="showSecondSlide()">
            Next
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="bg-white">
      <h2>Order & Let's eat</h2>
      <h2>Delicious food</h2>
      <p>The only thing we love more than food is you!.</p>
      <ion-button>Skip</ion-button>
      
    </div>
  </div>

  <div class="second clearfix"  #secondSlide>
    <div class="img-wrapper">
      <img src="../../assets/Onboarding-3.png"/>
    </div>
    <div class="bg-white">
      <h2>Order On Phone </h2>
      <p>order your favorite food at your table with your mobile.</p>
      <ion-grid>
        <ion-row>
          <ion-col (click)="showFirstSlide()" size="4">
            Previous
          </ion-col>
          <ion-col size="4">
            <span class="pager">
            </span>
            <span class="pager active-pager">
            </span>
          </ion-col>
          <ion-col [routerLink]="['/login']"  size="4">
            Next
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content> -->
