<ion-content >
  <div class="imageDiv">
    <img src="../../../assets/location.jpg" alt="">
  </div>
  <div class="textDiv">
    <h2>Turn On Location</h2>
    <p>
      We need your location for serving food.
    </p>
    <ion-button class="globleBg tryBtn" shape="round">Try Again</ion-button>
  </div>
</ion-content>




<!-- <input type="radio" disabled id="star5" name="rate" value="5" />
<label for="star5" title="text">5 stars</label>
<input type="radio" disabled id="star4" name="rate" value="4" />
<label for="star4" title="text">4 stars</label>
<input type="radio" disabled id="star3" name="rate" value="3" />
<label for="star3" title="text">3 stars</label>
<input type="radio" disabled id="star2" name="rate" value="2" />
<label for="star2" title="text">2 stars</label>
<input type="radio" disabled id="star1" name="rate" value="1" />
<label for="star1" title="text">1 star</label> -->