
<ion-content class="main-content">
  <div class="header">
    <ion-icon name="arrow-back-outline" (click)="CM.dismissModel()" slot="start"></ion-icon>
    <h1>Your Order</h1>
  </div>
 <div style="height: 10%;"></div>
  <div class="order">
    <div class="add">
      <h3>
        Add Description  
      </h3>
      <ion-fab-button class="fab" slot="end" (click)="addText()"><ion-icon name="{{add?'close-outline':'add-outline'}}"></ion-icon></ion-fab-button> 
    </div>
    <div>
      <ion-textarea placeholder="write your Description" *ngIf='add' [(ngModel)]="order_description"></ion-textarea>
    </div>
    <div class="item" *ngFor='let cat of orderItems;let i=index'>
      <ion-grid>
        <ion-row>
          <ion-col size='2'>
            <img [src]="cat.obj&&cat.obj.image?cat.obj.image:'../../../assets/no-item-image.svg'" alt="">
          </ion-col>
          <ion-col size='7'>
            <h3>{{cat.obj.name| slice:0:13}}<span *ngIf='cat.obj&&cat.obj.name.length>13'>...</span></h3>
          </ion-col>
          <ion-col size='3'>
            <h6>₹ {{cat.obj.price*cat.obj.qty}}</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="counter">
        <ion-grid>
          <ion-row>
            <ion-col class="plus" >
              <button class="btn ion-activatable ripple-parent" (click)='changeOrder(false,i)' >-
                <ion-ripple-effect type="unbounded"></ion-ripple-effect>
               </button>
              
            </ion-col>
            <ion-col  class="count" >
              <p>{{cat.obj.qty}}</p>
            </ion-col>
            <ion-col class="minus">
              <button class="btn ion-activatable ripple-parent" (click)='changeOrder(true,i)' >+
                <ion-ripple-effect type="unbounded"></ion-ripple-effect>
               </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      
      </div>
    </div>
    <div class="Total">
      <ion-grid>
        <ion-row>
          <ion-col size='9'>
            <h3>Total</h3>
          </ion-col>
          <ion-col size='3'>
            <h6>₹ {{total}}</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div style="text-align: center;">
      <button class="button" style="margin-bottom: 11vw;" (click)='orderNow()'>Order</button>
    </div>
  </div>
</ion-content>
