.pop{
    h3{
        text-align: center;
        font-size: 5vw;
        font-weight: bold;
        font-family: sans-serif;
    }
    ion-icon{
        font-size: 7vw;
    color: #ffc409;
    }
    ion-label{
        padding: 6px;
    text-align: center;
    }
}