<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" style="color:#ffc409">
      <ion-icon name="fast-food"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" style="color:#ff5c6c">
      <ion-icon name="wine"></ion-icon>
      <ion-label>Order</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3"  style="color:#ffc409">
      <ion-icon name="cart" class=""></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
