.toolbar{
    --background:var(--ion-theme);
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    color: white;
    ion-icon{
        font-size: 6vw;
        outline: none;
    }
}
.main-content{
    --background:var(--ion-theme);
    .header{
        height: 8%;
        width: 100%;
        position: fixed;
        background: var(--ion-theme);
        top: 0;
        opacity: 1;
        z-index: 111;
    top: 0;
    //border-radius: 0 0 20px 20px;
        h1{
            text-align: center;
            font-size: 18px;
            margin: 3vw;
            padding-left: 2vw;
            color: white;
            font-weight: 900;
        }
     ion-icon{
        font-size: 8vw;
        padding: 2vw;
        float: left;
     }   
     
    }
    .order{
        min-height: 100%;
        .add{
            position: relative;
            height: 10vw;
            h3{
                padding-right: 4vw;
                font-weight: bold;
                //font-family: sans-serif;
                text-align: center;
            }
            .fab{
                width: 9vw;
                height: 9vw;
                --background: var(--ion-theme);
                --background-activated: none;
                position: absolute;
                top: -5px;
                right: 5vw;
                ion-icon{
                    color: black;
                }
            }

        }
        ion-textarea{
            border: 2px solid var(--ion-gray);;
            height: 39vw;
            margin-top: 8vw;
            border-radius: 19px;
            font-size: 5vw;
        }
        width: 100%;
        background: white;
       // margin-top: 2vw;
       // border-radius: 30px 30px 0 0;
        padding: 4vw;
        .item{
            height: 13vw;
            margin-top: 4vw;
            position: relative;
           // border-bottom: 2px solid #dbcfcf;
            
           .foodImg{
            height: 15vw;
            /* border-radius: 10px; */
            margin-top: 2vw;
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
            }
            .vegVonVeg{
                    height: 5vw;
                    width: 5vw;
                    margin-right: 1vw;
                    position: absolute;
                    top: 2vw;
                    left: 2vw;
                    background: white;
            }
            h3{
                font-size: 4vw;
                font-weight: bold;
                margin: 0;
                margin-top: 2vw;
               // padding-left: 2vw;
            
            }
            ion-grid{
                padding: 0;
                ion-col{
                    padding: 0;
                }
                h6{
                    font-size: 4vw;
                    font-weight: bold;
                    width: 100%;
                    color: #675f5f;
                }
            }
        }
        .Total{
            border-top: 2px solid #a9a4a4;
            h3{
                font-size: 4vw;
                font-weight: bold;
                padding-left:2vw ;
                margin: 0;
            }
            h6{
                font-size: 4vw;
                font-weight: bold;
                width: 100%;
                padding-left: 2vw;
                margin: 0;
            }
        }
    }
}

.counter{
    position: absolute;
    min-width: 22%;
    top: 1vw;
    right: 12vw;
    height: 7vw;
    border: 2px solid var(--ion-theme);
    .plus{
        text-align: center;
        ion-button{
            border-radius:  21px 0 0 21px ;
        }
    }
    .minus{
        button{
            border-radius: 0 21px 21px 0;
        }
      text-align: center;
    }
    .count{
        text-align: center;
        p{
            color: #161414;
            font-size: 4vw;
            margin: 0.3vw;
            font-weight: bold;
        }
    }
    .btn{
        background: #ffff000a;
        font-size: 4vw;
        outline: none;
        color: black;
        width: 100%;
        height: 100%;
        font-weight: bold;
     }
}

.hMargin{
    margin-top: 2.2vw !important;
    margin-left: 3vw;
}