<div>
  <ion-toolbar class="toolbar">
      Your Orders
    <ion-icon style="padding-left: 4vw;" routerLink='/tab1' name="arrow-back" slot="start"></ion-icon>
    <ion-icon style="padding-right: 4vw;" (click)="alertDialog()" name="chatbox-ellipses" slot="end"></ion-icon>

  </ion-toolbar>
</div>

<ion-content class="main-content">
 
  <div class="order">
    <div class="add">
      <h3>
        Ongoing Order
      </h3>
    </div>
    <div>
      <ion-textarea placeholder="write your Description" *ngIf='add' [(ngModel)]="order_description"></ion-textarea>
    </div>
    <div class="item" *ngFor='let item of unserved;let i=index'>
      <ion-grid>
        <ion-row>
          <ion-col size='1'>
            <div class="vegVonVeg">
              <img src="../../../assets/{{item.is_veg?'veg':'nonVeg'}}.png" alt="">
            </div>
          </ion-col>
          <ion-col size='4' style="position: relative;">
            <h3>{{item.name| slice:0:13}}<span *ngIf='item&&item.name.length>13'>...</span></h3>
          </ion-col>
          <ion-col size='3'>
            <h6 class="hMargin">₹ {{item.total_price/item.qty}} <span style="color:red">x {{item.qty}}</span></h6>
          </ion-col>
          <ion-col size='3'>
            <h6 class="hMargin">₹ {{item.total_price}}</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- <div class="counter">
        <ion-grid>
          <ion-row>
            <ion-col class="count" >
              <p> Qty :</p>
            </ion-col>
            <ion-col  class="count" >
              <p>{{item.qty}}</p>
            </ion-col>
            
          </ion-row>
        </ion-grid>
      
      </div> -->
      
    </div>
    <div class="item" *ngFor='let item of served;let i=index'>
      <ion-grid>
        <ion-row>
          <ion-col size='1'>
            <div class="vegVonVeg">
              <img src="../../../assets/{{item.is_veg?'veg':'nonVeg'}}.png" alt="">
            </div>
          </ion-col>
          <ion-col size='4' style="position: relative;">
            <h3>{{item.name| slice:0:13}}<span *ngIf='item&&item.name.length>13'>...</span></h3>
          </ion-col>
          <ion-col size='3'>
            <h6 class="hMargin">₹ {{item.total_price/item.qty}} <span style="color:red">x {{item.qty}}</span></h6>
          </ion-col>
          <ion-col size='3'>
            <h6 class="hMargin">₹ {{item.total_price}}</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- <div class="counter">
        <ion-grid>
          <ion-row>
            <ion-col class="count" >
              <p> Qty :</p>
            </ion-col>
            <ion-col  class="count" >
              <p>{{item.qty}}</p>
            </ion-col>
            
          </ion-row>
        </ion-grid>
      
      </div> -->
      
    </div>
    <div class="Total">
      <ion-grid>
        <ion-row>
          <ion-col size='8'>
            <h3>Item Total</h3>
          </ion-col>
          <ion-col size='4'>
            <h6>₹ {{total}}</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="Total" style="border: none;">
      <ion-grid>
        <ion-row>
          <ion-col size='8'>
            <h3 style="color:var(--ion-gray);">Taxes</h3>
          </ion-col>
          <ion-col size='4'>
            <h6 style="color:var(--ion-gray);">₹ {{tax}}</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="Total">
      <ion-grid>
        <ion-row>
          <ion-col size='8'>
            <h3>Grand Total</h3>
          </ion-col>
          <ion-col size='4'>
            <h6>₹ {{grand}}</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
   
  </div>
</ion-content>
<div style="text-align: center;">
  <ion-grid>
    <ion-row class="pay" >
      <ion-col size='6'>
        <button class="button"  style="width: 100%; margin-top: 0;" routerLink='/tab1'>Add More Item</button>
      </ion-col>
      <ion-col size='6'>
        <button class="button" style="width: 100%; margin-top: 0;" (click)='presentAlertConfirm() '>End Dine & Pay</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>