.ion-content{
    position: relative;
}
.top-div{
    height: 13%;width: 100%;
    img{
        width: 12vw;
        height: 12vw;
        margin: 3vw;
        border-radius: 9px;
    }
    h2{
        text-align: center;
        padding-top: 5vw;
        padding-bottom: 5vw;
        font-size: 6vw;
        font-weight: bold;
        margin: 0;
    }
    .icon-div{
        margin-top: 1vw;
        text-align: center;
       
        //padding: 2vw;
        width: 15vw;
        height: 15vw;
        border-radius: 4vw;
        ion-icon{
            font-size: 10vw;
        }
    }
   ion-col{
    height: 20vw;
   }
   
      
    }
    .active-slide-box{
        border-bottom: 2px solid var(--ion-theme);
    }
    .slide-box{
       // background: white;
        width: 100%;
        text-align: center;
        padding: 1vw;
       // border-radius: 12px;
       
        p{
        margin: 0;
        font-size: 5vw;
        margin-top: 1vw;
        font-weight: 400;
        color: black;
        padding-left: 1vw;
    padding-right: 1vw;
        }
            }

            .cards{
                width: 92%;
                margin: auto;
                margin-top: 3vw;
                height: 25vw;
                //background: white;
                .img-div{
                    background: white;
                    text-align: center;
                    height: 100%;
                }
                .foodImg{
                    height: 18vw;
                    -o-object-fit: cover;
                    object-fit: cover;
                    border-radius: 12px;
                    margin-top: 7%;
                    width: 100%;
                }
                h2{
                    margin: 0;
                    font-weight: 300;
                    padding-left: 2vw;
                    padding-right: 2vw;
                    padding-top: 1vw;
                    font-size: 5vw;
                    color: black;
                }
                
                //
                .col2{
                    p{
                        font-size: 10vw;
                        font-weight: bold;
                        margin: 0;
                        /* padding-top: 4vw; */
                        color: #1e2023;
                        background: var(--ion-theme);
                        //border-radius: 48px;
                        margin-top: 5vw;
                    }
                }
                .fab{
                    margin-top: 6vw;
                --background: var(--ion-theme);
                }
                
                .col1{
                    padding: 0;
                    padding-left: 2vw;
                    .detail{
                        color: #7f8288;
                        font-size: 3vw;
                        font-weight: bold;
                        margin-top: 1vw;
                        margin-left: 2vw;
                        margin-bottom: 2vw;
                        
                    }
                    .rs{
                        color: #33383e;
                        font-size: 4vw;
                        font-weight: 200;
                        margin: 2px 2vw 0 2vw;
                    }
                }
                ion-grid{
                    padding: 0;
                }
                ion-col{
                    padding: 0;
                }
                .col-2{
                    
                    h2{
                        margin: 1vw;
                        font-size: 2vw;
                        font-weight: bold;
                        letter-spacing: 1vw
                    }
                    p{
                        margin: 0;
                        margin-left: 1vw;
                    }
                }
                ion-icon{
                    float: right;
                    margin-top: 2vw;
                    font-size: 7vw;
                    margin-right: 5vw;
                }
            }

            .counter{
                position: absolute;
                width: 18%;
                bottom: 17vw;
                left: 72vw;
                height: 7vw;
                border: 2px solid var(--ion-theme);
                border-radius: 5px;
                color: var(--ion-gray);
                .plus{
                    text-align: center;
                    ion-button{
                        border-radius:  21px 0 0 21px ;
                    }
                }
                .minus{
                    button{
                        border-radius: 0 21px 21px 0;
                    }
                  text-align: center;
                }
                .count{
                    text-align: center;
                    p{
                        //color: #161414;
                        font-size: 4vw;
                        margin: 0;
                        font-weight: bold;
                    }
                }
                .btn{
                    background: #ffff000a;
                    font-size: 4vw;
                    outline: none;
                    color: var(--ion-gray);
                    width: 100%;
                    height: 100%;
                    font-weight: bold;
                 }
            }

            ion-content{
                --background:#fbfbfb;
            }
            .searchs{
                padding-bottom: 3vw;
                ion-grid{
                padding: 0;
                }
                ion-col{
                    padding: 0;
                }
            }
            .searchFood{
              //  width: 80%;
                background: #f9f9f9;
                border: 2px solid white;
                border-radius: 16px;
                margin-left: 2vw;
             .icon1{
                font-size: 6vw;
                float: left;
                color: #51514f;
                margin-top: 2vw;
             }
             .icon2{
                font-size: 6vw;
                float: right;
                color: #51514f;
                margin-top: 2vw;
            }
            
             ion-col{
                padding: 0;
                font-size: 5vw;
                letter-spacing: 2px;
             }
            }
            .slideDiv{
                height:10%; 
               
            }
           

                .header{
                    position: fixed;
                    top: 0vw;
                    width: 100%;
                    z-index: 11;
                    background: #fbfbfb;
                }

                .list{
                    margin-top: 30%;
                    background: white;
                    padding-top: 3%;
                    padding-bottom: 40vw;
                    min-height: 100%;
                    h1{
                        text-align: center;
                        padding-top: 15vw;
                        font-size: 6vw;
                    }
                    h5{
                        font-size: 5vw;
                        font-weight: bold;
                        padding-left: 5vw;
                    }
                }

                .filter{
                    width: 44%;
                    position: absolute;
                    right: 0.5vw;
                    top: 33vw;
                    ion-item{
                        --border-style:none;
                        ion-label{
                            font-size: 3vw;
                            text-align: right;
                        }
                    }
                    ion-toggle{
                        --background: #fde598;
                        --background-checked: #c1c0c0;
                        --handle-background: #ffc409;
                        --handle-background-checked: #ffc409;
                    }
                    img{
                        background-color: #f9f9f9;
                        height: 9vw;
                        border: 2px solid #867a7a;
                        border-radius: 11px;
                        outline: none;
                    }
                }

                .vegNonVeg{
                    height: 4vw;
                    width: 4vw;
                    margin-right: 1vw;
                    position: absolute;
                    bottom: 8vw;
                    right: 3vw;
                    //background: #E91E63;
                    }
                    
                    .nonVeg{
                    color: red;
                    }
                    .veg{
                    color: #1eff00;
                    }

          ///      search
          
        
        
            .searchInput {
                position: fixed;
                right: 9vw !important;
                top: 8vw;
                font-size: 5vw;
                letter-spacing: 1px;
                width: 0px;
                --padding-start: 2vw;
                -webkit-transition: all 0.7s ease-in-out;
                -moz-transition: all 0.7s ease-in-out;
                -o-transition: all 0.7s ease-in-out;
                transition: all 0.7s ease-in-out;
                height: 5%;
                line-height: 18px;
                padding: 0 2px 0 2px;
                border-radius: 1px;
                margin-left: 0px;
            }
        .searchDiv{
            position: fixed !important;
    right: 3% !important;
    top:6vw;
    background: #f9f9f9;
    //border: 2px solid white;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    height: 12vw;
    line-height: 18px;
    padding: 0 2px 0 2px;
    border-radius: 17px;
    width: 0;
    .icon1{
       position: absolute;
        font-size: 6vw;
        top: 2vw;
        z-index: 1;
    }
    .icon2{
        position: absolute;
        font-size: 6vw;
        top: 2vw;
        z-index: 1;
        right: 4px;
     }
        }
                .openSearch {
                    width: 98% !important;
                    
                }

                .itemAdded{
                    position: fixed;
                    height: 16vw;
                    background: var(--ion-theme);
                    width: 96%;
                    left: 2vw;
                    bottom: 2vw;
                    border-radius: 12px;
                    p{
                        margin: 0;
                        width: 70%;
                        padding: 2vw;
                        font-size: 4vw;
                        font-weight: bold;
                        color: white;
                    }
                    h2{
                        margin: 0;
                        font-size: 5vw;
                        padding-left: 2vw;
                        font-weight: bold;
                        color: white;
                        //font-family: sans-serif;
                    }
                    h3{
                        font-size: 4vw;
                        margin: 0;
                        margin-top: 5vw;
                        font-weight: bold;
                        color: white;
                    }
                    ion-grid{padding: 0}
                    ion-col{padding: 0}
                }