

<ion-content #Content [fullscreen]="true">
  <div class="header">
  <div class="top-div">
  <ion-grid>
    <ion-row>
      <ion-col size='2'>
        <div class="icon-div">
          <ion-icon name="reorder-three" (click)='CM.presentPopover($event)'></ion-icon>
        </div>
      </ion-col>
      <ion-col size='8'>
        <h2>RESTO</h2>
      </ion-col>
      <ion-col size='2'>
        <div class="" >

          <div  class="searchDiv" [ngStyle]="{'width': open?'94%':'7%','border':open?'2px solid white':'none','background':open?'#e8e5e5':'none'}">
              <ion-icon name="search" class="icon1" slot="start" (click)="toggle(open)"></ion-icon>
              <ion-icon name="close-circle-outline" *ngIf='string.length!=0' class="icon2" slot="end" (click)="close()"></ion-icon>
            <ion-input (keyup)='presentMenu(string)'  mode='md' [(ngModel)]='string' [ngStyle]="{'width': open?'80%':'6vw','display': open?'unset':'none'}" class="searchInput"  > 
            </ion-input>
          </div>
          <!-- <div class="filter" (click)="filter()">
            <img src="../../assets/filter.png" alt="" class="{{nonveg?'active-slide-box':''}}">
          </div> -->
         </div>
    </ion-col>
     
    </ion-row>
  </ion-grid>    
  </div>
  <!-- <div class="search" >
    <div  class="searchFood">
      <ion-grid>
        <ion-row>
          <ion-col size='1'>
            <ion-icon name="search" class="icon1"></ion-icon>
          </ion-col>
          <ion-col size='11'>
             <ion-input (keyup)='search()' [(ngModel)]='string' clearInput ></ion-input>
          </ion-col>
          
        </ion-row>
      </ion-grid> 
    </div>
    <div class="filter" (click)="filter()">
      <img src="../../assets/filter.png" alt="" class="{{nonveg?'active-slide-box':''}}">
    </div>
   </div> -->
   <div class="slideDiv" *ngIf='string.length==0'>
    <ion-slides pager="false" [options]="slideOpts" *ngIf='slide'>
      <ion-slide  *ngFor='let cat of catagory' (click)="gotoTop(cat.id)">
        <div  class="slide-box ion-activatable ripple-parent {{activeCat==cat.id?'active-slide-box':''}}"> 
             <p>{{cat.name }}</p>
             <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  </div>
<!-- <====header-end====> -->


<!-- <====list-start====> -->
<div class="list" *ngIf='string.length==0' >
  <ng-container *ngFor='let cat of menuList'>
  <h5 id='{{cat.Category_id}}' >{{cat.Category_name}}</h5>
  <ng-container *ngFor="let dish of cat.items;let i = index">
  <div class="cards  ripple-parent" *ngIf='dish.hide==false && string.length==0' >
      <ion-grid>
        <ion-row>
          <ion-col size='3' (click)='present(dish)'>
           <div class='img-div'>
            <img  [src]="dish&&dish.image?dish.image:'../../../assets/no-item-image.svg'">
           </div>
          </ion-col>
          <ion-col size='6' class="col1" (click)='present(dish)'>
            <h2>{{dish.name | slice:0:13}}<span *ngIf='dish.name&&dish.name.length>13'>...</span></h2>
            <p class="rs">₹ {{dish.price}}</p>
            <p class="detail">{{dish.description | slice:0:37}}<span style="letter-spacing: 1vw;" *ngIf='dish.description&&dish.description.length>37'>...</span></p>
          </ion-col>
          <ion-col size='3' class="col2">
          </ion-col>
        </ion-row>
      </ion-grid> 
      
      <div class="counter">
        <ion-grid>
          <ion-row>
            <ion-col class="plus" *ngIf='dish.qty>0' >
              <button class="btn ion-activatable ripple-parent"  (click)='order(false,i,cat.Category_id)'>-
                <ion-ripple-effect type="unbounded"></ion-ripple-effect>
               </button>
              
            </ion-col>
            <ion-col class="count" *ngIf='dish.qty==0'>
              <p style="padding-left:1vw;"> Add</p>
            </ion-col>
            <ion-col  class="count" *ngIf='dish.qty>0'>
              <p>{{dish.qty}}</p>
            </ion-col>
            <ion-col class="minus">
              <button class="btn ion-activatable ripple-parent" (click)='order(true,i,cat.Category_id)' >+
                <ion-ripple-effect type="unbounded"></ion-ripple-effect>
               </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      
      </div>
      <div class="vegNonVeg">
        <ion-icon name="stop-circle-outline" class="{{dish.is_veg?'veg':'nonVeg'}}"></ion-icon>
      </div>
    </div>



  </ng-container>
  </ng-container>
  
  </div>
  

  <!-- <====list-search====> -->
  
<div class="list" *ngIf='string.length>0' >
  <h1 *ngIf='searchItem.length==0'>No Item found</h1>

  <ng-container *ngFor="let dish of searchItem;let in = index">
  <div class="cards  ripple-parent" *ngIf='dish.hide==false' >

      <ion-grid>
        <ion-row>
          <ion-col size='3' (click)='present(dish)'>
           <div class='img-div'>
            <img  [src]="dish&&dish.image?dish.image:'../../../assets/no-item-image.svg'">
           </div>
          </ion-col>
          <ion-col size='6' class="col1" (click)='present(dish)'>
            <h2>{{dish.name | slice:0:13}}<span *ngIf='dish.name&&dish.name.length>13'>...</span></h2>
            <p class="rs">₹ {{dish.price}}</p>
            <p class="detail">{{dish.description | slice:0:37}}<span style="letter-spacing: 1vw;" *ngIf='dish.description&&dish.description.length>37'>...</span></p>
          </ion-col>
          <ion-col size='3' class="col2">
          </ion-col>
        </ion-row>
      </ion-grid> 
      
      <div class="counter">
        <ion-grid>
          <ion-row>
            <ion-col class="plus" *ngIf='dish.qty>0' >
              <button class="btn ion-activatable ripple-parent"  (click)='order2(false,in,dish.categories[0])'>-
                <ion-ripple-effect type="unbounded"></ion-ripple-effect>
               </button>
              
            </ion-col>
            <ion-col class="count" *ngIf='dish.qty==0'>
              <p style="padding-left:1vw;"> Add</p>
            </ion-col>
            <ion-col  class="count" *ngIf='dish.qty>0'>
              <p>{{dish.qty}}</p>
            </ion-col>
            <ion-col class="minus">
              <button class="btn ion-activatable ripple-parent" (click)='order2(true,in,dish.categories[0])' >+
                <ion-ripple-effect type="unbounded"></ion-ripple-effect>
               </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      
      </div>
      <div class="vegNonVeg">
        <ion-icon name="stop-circle-outline" class="{{dish.is_veg?'veg':'nonVeg'}}"></ion-icon>
      </div>
    </div>
  </ng-container>
  
  </div>
  <div class="itemAdded" *ngIf='totalItems!=0' (click)='trackOrder()'>
    <ion-grid>
      <ion-row>
        <ion-col size='7'>
          <p>{{totalItems}} Item<span *ngIf='totalItems>1'>s</span> </p>
          <h2>₹ {{totalPrice}}</h2>
        </ion-col>
        <ion-col size='5'>
          
          <h3 style="padding-left: 4vw">View Cart <span style="padding-left: 2vw"> ></span></h3>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </div>
</ion-content>
