<ion-content class="main-login-container" *ngIf="show">
  <div class="final-div">
    <div class="div1">

    </div>
    <div class="div2">
      <div class="loginDiv">
        <h3 class="titleHeader">Login</h3>
        <!-- <h3 style="float: right;" class="{{hLogin==false?'active-h':''}}" (click)='hClick(false)'>Signup</h3>  -->
      </div>
      <form class="form" [formGroup]="loginform" (ngSubmit)="onLogin()">
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <ion-icon name="phone-portrait-outline" style="color: #ffc409"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <ion-item>
                <ion-input type="number" placeholder="Moblie No." maxlength="10" formControlName="phone_number" required>
                </ion-input>
                <ion-icon name="checkmark-circle" style="color: #ffc409" slot="end"></ion-icon>
              </ion-item>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.phone_number.errors?.required">
                Moblie No. is required.
              </span>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.phone_number.errors?.pattern">
                Please provide valid Moblie No.
              </span>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <ion-icon name="apps" style="color: #ff5c6c"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <ion-item>
                <ion-input type="{{type=='eye'?'Password':'text'}}" placeholder="Password" formControlName="password"></ion-input>
                <ion-icon name="{{type}}" slot="end" (click)='changeType(type)' style="color: #ff5c6c"></ion-icon>
              </ion-item>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
                Password is required.
              </span>
            </ion-col>
          </ion-row>

        </ion-grid>
        <p (click)="toggle()">Forgot Password!</p>
        <div class="btnDiv">
          <button class="button ion-activatable ripple-parent">Login
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </button>
          <!-- <button  *ngIf='hLogin==false' class="button ion-activatable ripple-parent" (click)='signUp()'>Sign Up
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </button> -->
          <div class="sign-in">
            <p>Don't have an account? <span routerLink='/register'>Register Now</span></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>


<ion-content class="main-login-container" *ngIf="!show">
  <div class="final-div">
    <div class="div1">

    </div>
    <div class="div2">
      <div class="loginDiv">
        <h3 class="titleHeader">Reset Password</h3>
        <!-- <h3 style="float: right;" class="{{hLogin==false?'active-h':''}}" (click)='hClick(false)'>Signup</h3>  -->
      </div>
      <form class="form"  [formGroup]="forgotform" (ngSubmit)="onReset()">
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <ion-icon name="phone-portrait-outline" style="color: #ffc409"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <ion-item>
                <ion-input type="number" placeholder="Moblie No." maxlength="10" formControlName="phone_number" required>
                </ion-input>
                <ion-icon name="checkmark-circle" style="color: #ffc409" slot="end"></ion-icon>
              </ion-item>
              <span class="error ion-padding" *ngIf="isSubmitted1 && errorControl1.phone_number.errors?.required">
                Moblie No. is required.
              </span>
              <span class="error ion-padding" *ngIf="isSubmitted1 && errorControl1.phone_number.errors?.pattern">
                Please provide valid Moblie No.
              </span>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="btnDiv">
          <button class="button ion-activatable ripple-parent">OTP
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </button>
        </div>
      </form>
    </div>
  </div>
</ion-content>