 .cont{
     //--background:red;
     text-align: center;
     .imageDiv
{
    width: 75%;
    margin: auto;
    margin-top: 30%;
}
h2{
    color: #1C1A1A;
    font-size: 24px;
    font-weight: 600;
}
p{
    color: #707070;
    font-size: 14px;
    font-weight: 500;
}
.textDiv{
    text-align: center;
} 

}
