ion-content{
    --ion-background-image:url;
}
.main-login-container{
    .final-div{
        width: 100%;
        height: 100%;
        background-image: url(../../../assets/vegi.jpg);
        background-size: cover;
    .div1{
        background-color: transparent;
        height: 20%;
        img{
            height: 80%;
            width: 100%;
            margin-top: 3vw;
        }
        
       
    }
    .div2{
        height: 80%;
        width: 100%;
        background: white;
        border-radius:  35px 35px 0 0;
        -webkit-box-shadow: -2px -34px 70px -30px rgba(132,128,237,1);
        -moz-box-shadow: -2px -34px 70px -30px rgba(132,128,237,1);
        box-shadow: -2px -34px 70px -30px rgba(132,128,237,1);
        .loginDiv{
            text-align: center;
            
   
    .active-h{
        border-bottom: 4px solid #ffc409;
    }
        }
        .form{
            
            ion-icon{
            margin-top: 10px;
            font-size: 7vw;
            }
            ion-item{
                --padding: 0;
            }
            ion-col{
                padding-right: 0;
            }
            ion-grid{
                padding-right: 0;
            }
            ion-input{
                font-size: 4vw;
                --padding-bottom: 4vw;
                --color: #1e2023;
                font-weight: bold;
                font-family: sans-serif;
                letter-spacing: 2px;
            }
            p{
                color: slategrey;
                margin: 0;
                font-size: 4vw;
                margin-left: 5vw;
                font-weight: bold;
                margin-top: 4vw;
            }
            .btnDiv{
                margin-top: 5vw;
                text-align: center;
            }
        }
    }
}

}
.bg-abstract{
    // font-family: 'Poppins';
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    background-size: cover;
    ion-card-header{
        margin-top: 4%;
        margin-bottom: 4%;
        padding-left: 30px;
    }
    ion-card-content{
        padding: 0;
    }
    // ion-card-title{
        
    // }
}
.wt{
    color: #666666!important;
}
.mrg{
margin-top: 0%!important;
margin-bottom: 0%!important;
}
.sign-in-card{
    // font-family: 'Poppins';
    margin-left: 0;
    margin-right: 0;
    border-radius: 40px 40px 0 0;
    background: #F8FAFB;
    padding: 20px;
    margin: 0;
    box-shadow: none;
    ion-card-header{
        margin-top: 5%;
        margin-bottom: 5%;
        padding-left: 0px;
    }
    ion-label{
        color: #848484;
    }
    ion-row{
        background: #EDF2F5;
        &:nth-child(1){
            border-radius: 8px 8px 0 0;
        }
        &:nth-child(2){
            border-radius:0 0 8px 8px;
        }
    }
    .active-row{
        
        box-shadow: 0 1px 0 #00000029;
        background: #ffffff;

        ion-item{
            --background: #ffffff;
        }
    }
    ion-item{
        --background: #EDF2F5;
    }
}

.icon-wrapper{
    align-self: center;
    padding-top: 2%;
    ion-icon{
        font-size: 2em;
        color: #C6D3DB;
    }
}

.button-login{
    // font-family: 'Poppins';
   // background: linear-gradient(148deg, #fc5b2f, #ffc033) !important;
    color: #ffffff;
    height: 56px;
    font-size: 16px;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 7px 20px #2B04F933;
    margin-top: 5%;
}

.forgot-pass{
    // font-family: 'Poppins';
    text-align: center;
    color: #03A1F5;
    //text-decoration: underline;
    margin-top: 10%;
}
.btn-center{
    margin-top: 50px;
    text-align: center;
}

.sign-in-button{
    width: 100% !important;
    height: 55px !important;
    //--background: linear-gradient(148deg, #fc5b2f, #ffc033) !important;
    margin-top: 10%;
    color: #666666;
    font-weight: bold;
}
.sign-in{
    // font-family: 'Poppins';
    font-size: 12px;
    color: #334557;
    text-align: center;
    margin-top: 10%;
    span{    
        color: #03A1F5;
        //text-decoration: underline;
    }
}
.orgColor{
    color: orange;
}
.titleHeader{
    text-align: center;
    font-weight: 700;
    font-size: 7vw;
    line-height: 60px;
    letter-spacing: -0.04em;
    font-family: Eina, "Helvetica Neue", Helvetica, sans-serif !important;
    color: #fdec33;
    margin-bottom: 0;
    padding-top: 2vw;
}
