<ion-content>
  <div class="whole-div">
    <div class="first-div">
      <ion-icon name="arrow-back-outline" (click)="loc.back()"></ion-icon>
    </div>
    <form class="second-div">
      <div>
        <div class="icon-div">
          <ion-icon name="checkmark-done-outline"></ion-icon>
        </div>
        <h3>Reset password otp</h3>
      </div>
      <div class="OTP-div">
        <ng-otp-input class="inputs" (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>

        <!-- <ion-grid>
          <ion-row>
            <ion-col size='3'>
              <input   (change)='Type(1)' type="text" maxlength="1"  formControlName="otp1" #otp1/>
            </ion-col>
            <ion-col size='3'>
              <input (change)='Type(2)' type="text" maxlength="1"  formControlName="otp2"  #otp2  />
            </ion-col>
            <ion-col size='3'>
              <input  (change)='Type(3)' type="text" maxlength="1"  formControlName="otp3" #otp3 />
            </ion-col>
            <ion-col size='3'>
              <input (change)='Type(4)' type="text" maxlength="1"  formControlName="otp4" #otp4  />
            </ion-col>
          </ion-row>
        </ion-grid> -->
      </div>
      <button class="button verify-btn ion-activatable ripple-parent" [disabled]="isSubmitted" (click)="Verify()">Verify
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </button>
      <button class="resend ion-activatable ripple-parent " (click)="resendOtp()">Resend OTP
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </button>
      <p class="validP">Valid for 20 min</p>
    </form>
  </div>
</ion-content>