/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/poppins/Poppins-Regular.ttf');
}

.globleBg{
   // --background: linear-gradient(148deg, #fdec33, #ffc033) !important;
   //--background: linear-gradient(148deg, rgb(251, 234, 27), #ffc033) !important;
   //--background: linear-gradient(148deg, #f6f940, #f7e65a) !important;
   --background: linear-gradient(148deg, #feda25, #f7e65a) !important;
}    
.ripple-parent {
    position: relative;
    overflow: hidden;
  }
  *{
    font-family: 'Poppins', sans-serif;
  }
  .button{
    background: #ffc409;
    color: black;
    width: 85vw;
    font-weight: bold;
    margin-top: 5vw;
    -webkit-box-shadow: -1px 11px 29px -4px rgba(255,196,9,1);
-moz-box-shadow: -1px 11px 29px -4px rgba(255,196,9,1);
box-shadow: -1px 11px 29px -4px rgba(255,196,9,1);
    height: 12vw;
    border-radius: 12px;
    border-style: none;
    outline: none;
    font-size: 4vw;
    }
    .button:focus {
        outline: none;
      }
    .toast{
      --background: #fe724c;
    }  